- if event.target
  - if event.action_name == "opened"
    .profile-icon.open-icon
      = custom_icon("icon_status_open")
  - elsif event.action_name == "closed"
    .profile-icon.closed-icon
      = custom_icon("icon_status_closed")
  - else
    .profile-icon.fork-icon
      = custom_icon("code_fork")

.event-title
  %span{ class: event.action_name }
  - if event.target
    = event.action_name
    %strong
      = link_to [event.project.namespace.becomes(Namespace), event.project, event.target], class: 'has-tooltip', title: event.target_title do
        = event.target_type.titleize.downcase
        = event.target.reference_link_text
  - else
    = event_action_name(event)

  = render "events/event_scope", event: event

- if event.target.respond_to?(:title)
  .event-body
    .event-note
      = event.target.title
