.profile-icon
  = custom_icon("comment_o")

.event-title
  = event.action_name
  = event_note_title_html(event)

  = render "events/event_scope", event: event

.event-body
  .event-note
    .md
      = event_note(event.target.note, project: event.project)
    - note = event.target
    - if note.attachment.url
      - if note.attachment.image?
        = link_to note.attachment.url, target: '_blank' do
          = image_tag note.attachment.url, class: 'note-image-attach'
      - else
        = link_to note.attachment.url, target: '_blank',  class: 'note-file-attach' do
          %i.fa.fa-paperclip
          = note.attachment_identifier
